---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-hicpp-braces-around-statements,-readability-magic-numbers,-cert-err58-cpp'
WarningsAsErrors: '1'
HeaderFilterRegex: 'ecs\\include'
FormatStyle:     none


