[submodule "GSL"]
	path = GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "threaded"]
	path = threaded
	url = https://github.com/monkey-g/threaded
[submodule "benchmark/gbench"]
	path = benchmark/gbench
	url = https://github.com/google/benchmark.git
